.node {
  flex: 1;
  outline: 1px solid rgb(175, 200, 250);
}

.node-passage {
  background-color: black;
}

.node-finish {
  background-color: rgb(19, 156, 235);
}

.node-start {
  background-color: rgb(0, 150, 4);
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.node-wall {
  background-color: rgb(12, 53, 71);
  animation-name: wallAnimation;
  animation-duration: 0.1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.25);
    background-color: rgb(12, 53, 71);
  }

  50% {
    transform: scale(0.6);
    background-color: rgb(12, 53, 71);
  }

  100% {
    transform: scale(1);
    background-color: rgb(12, 53, 71);
  }
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(1);
    background: radial-gradient(
      rgb(255, 0, 0) 5%,
      rgb(0, 255, 213) 25%,
      rgba(0, 190, 218, 0.75) 70%
    );
  }

  15% {
    transform: scale(1);
    background: radial-gradient(
      rgb(255, 150, 0) 10%,
      rgb(0, 255, 213) 30%,
      rgba(0, 190, 218, 0.75) 60%
    );
  }

  30% {
    transform: scale(1);
    background: radial-gradient(
      rgb(255, 255, 0) 15%,
      rgb(0, 255, 213) 35%,
      rgba(0, 190, 218, 0.75) 50%
    );
  }

  45% {
    transform: scale(1);
    background: radial-gradient(
      rgb(125, 200, 0) 20%,
      rgb(0, 255, 213) 30%,
      rgba(0, 190, 218, 0.75) 50%
    );
  }
  60% {
    transform: scale(1);
    background: radial-gradient(
      rgb(0, 150, 0) 25%,
      rgb(0, 255, 213) 25%,
      rgba(0, 190, 218, 0.75) 50%
    );
  }
  80% {
    transform: scale(1);
    background: radial-gradient(
      rgb(0, 150, 0) 30%,
      rgb(0, 255, 213) 20%,
      rgba(0, 190, 218, 0.75) 50%
    );
  }
  90% {
    transform: scale(1);
    background: radial-gradient(
      rgb(0, 150, 0) 20%,
      rgb(0, 255, 213) 30%,
      rgba(0, 190, 218, 0.75) 50%
    );
  }
  100% {
    transform: scale(1);
    background: radial-gradient(
      rgb(0, 150, 0) 25%,
      rgb(0, 255, 213) 25%,
      rgba(0, 190, 218, 0.75) 50%
    );
  }
}
