body {
  overflow: hidden;
}
.grid {
  margin: 60px auto 0 auto;
  display: flex;
  flex-direction: column;
  width: 99%;
  z-index: 1;
}
.row {
  display: flex;
  flex-direction: row;
}

.console {
  position: absolute;
  top: 64px;
  height: 50px;
  width: 100%;
  z-index: 5;
  background-color: black;
  overflow-y: scroll;
  resize: vertical;
}
.statistic-text {
  font-size: 14px;
  color: white;
  margin: 0;
  text-align: left;
  padding-left: 5px;
}
